{% extends "network/layout.html" %}

{% block body %}
<div id="profile-view" class="index-view">
    
    
</div>    

<div id="posts-view" class="flex index-view ">

    
    {% if user.is_authenticated %}
        <div id="post" class="form-floating">
            <form>
                <textarea class="form-control"  placeholder="What's happening" name="post" id="ta-post" cols="50" rows="4"></textarea>
                <input type="submit" class="btn btn-primary mb-3" value="Post" id="sb-post">
            </form>
        </div>
    {% endif %}


    {% for post in page_obj %}
        <div class="flex post">
            <div class="divider"></div>
            <p data-id={{post.author.id}} id="profile" class="fs-4 fw-semibold links">{{post.author|lower|capfirst}}</p>
            <p>{{post.body}}</p>
            <div class="post-footer">
                <p>{{post.likes.count}} <span class="like-btn">❤️</span></p>

                {% if post.edited %}
                <p class="text-muted fs-6">{{post.modified}}</p>
                {%else%}
                <p class="text-muted fs-6">{{post.created}}</p>
                {%endif%}
            </div>
        </div>
    {% endfor %}         

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {%else%}
                <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
            {% endif %}
            
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {%else%}
                <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}