*, *:before, *:after {
    box-sizing: border-box;
  }


.flex {
  display: flex;
}

.body {
  /* margin: 0 10%;
  width: 900px; */
  padding-top: 20px;
  justify-content: center;
  
}

.main {

  width: max-content;
  padding: 50px;
  background-color: hsl(0, 0%, 98%); 

  box-shadow: 5px 10px 8px 10px #888888;

  justify-content: center;
  flex-direction: column;
}

/* .post-form {
  width: min(700px);
  padding: 5px 20%;
  margin: 20px 15%;
  border: 1px solid black;
} */



#post{
  width: min(600px, 80vw);
}

.post {
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 1px 6px 0 #171717;
  background-color: hsl(60, 9%, 98%);
  margin: 10px 0;
  padding: 10px;
  width: min(700px, 90vw);
}

.post>p {
  margin-left: 10px;
  margin-right: 10px;
}


div>form>a{
  margin-left: 81%;
  margin-bottom: 50%;
 
} 

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.divider {
  border-bottom: 1px solid grey;
  width: 100%;
}


.index-view {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}


form>div{
  margin-top: 10px;
}

div>a {
  float: right;
}




.links {
  cursor: pointer;
  text-decoration: none;
  
}


.links:hover {
  text-decoration: underline;
}


.edit-link {

}

nav > a {
  margin-left: 15px;
}


@media (max-width: 992px){
 li[class=nav-item]{
  margin-right: 15px;
 }
}

.disabled {
  pointer-events: none;
  cursor: default;
}



.post>p[id=profile] {
  width: max-content;
}

.follow-data {
  width: 100%;
  justify-content: space-between;
}

.usr-div {
  flex-direction: column;
  width: min(700px, 90vw);
}

.like-btn:hover {
  text-decoration: none;
}